@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/2507-1@1.0/Cafe24PROUP.woff2');
@import "tailwindcss";

@theme {
  --color-bg-normal: #FAFAF8;
  --color-bg-netural: #F2F2F2;

  --color-fill-normal: #E5E5E5;
  --color-fill-neutral: #F3F3F3;
  --color-fill-alter: #ECECEC;
  --color-fill-transparents: rgba(236, 236, 236, 0.5);

  --color-line-normal: #DEDEDE;
  --color-line-neutral: #B3B3B3;
  --color-line-alter: #5E5E5E;

  --color-label-normal: #191919;
  --color-label-assistive: #323232;
  --color-label-neutral: #636363;
  --color-label-alter: #9B9B9B;
}

:root {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light;
  color: #1f2937;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
